@font-face {
   font-family: 'Agathodaimon-lgLmw';
   font-display: swap;
   src: url('Agathodaimon-lgLmw/font.ttf');
}
@font-face {
   font-family: 'OpenDyslexic-Regular';
   font-display: swap;
   src: url('OpenDyslexic-Regular/font.ttf');
}
