@font-face {
   font-family: 'OpenDyslexic-Regular';
   font-display: swap;
   src: url('file:///C:/Users/user-1/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-03-13_145002/fonts/OpenDyslexic-Regular/font.ttf');
}
